@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Nuestra política de privacidad garantiza la protección de sus datos personales. No compartimos información con terceros sin su consentimiento explícito. Contáctenos para cualquier pregunta sobre sus datos.</p>
